{%extends 'project/base.html'%}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div style="height:30vh" class="text-right">
      <button class="btn btn-light btn-lg mt-4">  <a href="/login/" class="text-dark">LOGIN</a>/ <a href="register" class="text-dark">SIGNUP</a></button>
     <a class="btn btn-dark btn-lg mt-4 " href="{% url 'new' %}">SUBMIT YOUR SITE</a>
    </div>
    <div class="row">
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div>
            <div class="row">
                {% for image in object_list %}
                <div class="column">
                <div class="card" style="width: 22rem;">
                    <a
                    class="open-image"
                    href="{% url 'image' image.id %}"
                    data-popup-url="{% url 'image' image.id %}}"
                    > <img src="{{image.image.url}}" class="card-img-top" height="250px" alt="Fissure in Sandstone"/></a>
                    <div class="card-body">
                      <p class="card-text">Project Name:{{ image.title }}</p>
                        <!-- <a href="#" class="card-link">Another link</a> --> 
                    </div>
                    <footer class="blockquote-footer"><h5>By:{{ image.author }}</h5></footer>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "project/image-modal.html" %}

{% endblock %} 