{%extends 'project/base.html'%}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <h1 class="text-center"> Welcome to The-Photo-Gallery</h1>
    <h5 class="text-center"><em>Note: You can click on the image to expand and view details</em></h5>
   
    <div class="row">
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div>
            <div class="row">
                {% for image in object_list %}
                <div class="column">
                <div class="card" style="width: 22rem;">
                    <img src="{{ image.image.url }}" class="card-img-top" height="250px" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                      <p class="card-text">Project Name:{{ image.title }}</p>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %} 