{%extends 'project/base.html'%}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card mt-3">
        <img src="{{project.image.url}}" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.description}}</p>
          <a href="{{project.link}}" class="btn btn-secondary">View Site</a>
        </div>
      </div>
              
    </div>
  

{% endblock %} 