{%extends 'project/base.html'%}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <h1 class="text-center"> Welcome to The-Photo-Gallery</h1>
    <h5 class="text-center"><em>Note: You can click on the image to expand and view details</em></h5>
   
    <div class="row">
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div>
            <div class="row">
                {% for image in object_list %}
                <div class="column">
                <div class="card" style="width: 22rem;">
                    <a
        class="open-image"
        href="{% url 'image' image.id %}"
        data-popup-url="{% url 'image' image.id %}}"
        > <img src="{{image.image.url}}" class="card-img-top" height="250px" alt="Fissure in Sandstone"/></a>
                    <div class="card-body">
                      <p class="card-text">Project Name:{{ image.title }}</p>
                      <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <footer class="blockquote-footer"> <cite title="Source Title">By:{{ user.username }}</cite></footer>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "project/image-modal.html" %}

{% endblock %} 